ul li {
    list-style: none;
}

.navbar {
    margin: auto;
    align-content: center;
    background-color: #fffabe;
    width: 1000px;
    height: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #515151;
}

.navbar ul li:hover{
    color: #d42551;
}

#logo_img {
    float: left;
    margin-top: 2%;
    margin-right: 8%;
    margin-left: 5%;

}

header ul li {
    display: inline-block;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    list-style: none;
    float: left;
}

.headers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
}

#welcomebanner {
    float: none;
    display: block;
    align-content: center;
    margin: auto;
    width: 1000px;
    height: 400px;
}

#main_mac_image {
    float: left;
    margin-top: 9%;
    margin-right: 5%;
    margin-bottom: auto;
}

.main_content {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    width: 900px;
    align-content: center;
}

#main_text {
    overflow: auto;
    margin-top: 0px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    line-height: 22px;
    padding: 5px;
}

.sampleschedule {
    margin: auto;
    align-content: center;
    width: 1000px;
    overflow: auto;
}

.sampleschedule div {
    background-color: #fffabe;
    width: 126px;
    height: 140px;
    margin-left: 1%;
    margin-right: 5px;
    line-height: 25px;
    align-content: center;
}

.sampleschedule div ul {
    padding: 0;
    margin-top: 5%;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6a6969;
}

.sampleschedule div ul li {
    padding-left: 8px;
}

ul li img {
    float: right;
    padding: 5% 5% 0 0;
    margin: 0;
}

#monday {
    float: left;
    position: relative;
}

#chocolate {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#coconut {
    background-color: #824603;
    color: white;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#tuesday {
    float: left;
    position: relative;
}

#violetcassis {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#greentea {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#wednesday {
    float: left;
    position: relative;
}

#passionfruit {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#vanilla {
    background-color: #df5277;
    color: white;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#thursday {
    float: left;
    position: relative;
}

#coffee {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#pistachio {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#friday {
    float: left;
    position: relative;
}

#raspberry {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#lemon {
    background-color: #a2304e;
    color: white;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#saturday {
    float: left;
    position: relative;
}

#rose {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#tiffanyblue {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#sunday {
    float: left;
    position: relative;
}

#caramel {
    background-color: #fffabe;
    color: #6a6969;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 33px;
}

#almond {
    background-color: #c39005;
    color: white;
    width: 126px;
    height: 33px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.footerblock {
    background-color: #df5277;
    color: white;
    width: 1000px;
    height: 80px;
    align-content: center;
    margin: auto;
    overflow: auto;
    font-size: small;
    position: relative;
}

.footerblock ul {
    align-content: center;
    width: 99%;
}

.footerblock ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5% 0 8%;
    float: left;
    padding: 0 0 0 0;
    align-content: center;
    height: 5%;
    width: 18%;
}

.foot_img_left {
    float: left;
    padding: 0% 3% 3% 1%;
}

.foot_img_right {
    float: right;
    padding: 0% 14% 1% 8%;
}

#copyright {
    font-size: small;
    color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 0;
    align-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
}